{% extends "base.html" %}
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
{% block content %}
<h1 class="title">
  Akhil Kasamsetty
</h1>
<p>
  Hi! I'm Akhil. I'm currently a freshman in General Engineering at Texas A&M University! I'm interested in programming and robotics, and I'm looking to go into computer science after my freshman year. 
  <br></br>
  I mainly code in Dart for mobile apps, but I've been learning new technologies for other projects such as C# for a Unity-based 3D game. For Summer 2025, I'm looking for freshman-inclusive software engineering internships.
  <br></br>
  Please feel free to reach out to me through any of the methods below!
</p>
<a href="https://www.linkedin.com/in/akhil-kasamsetty"><i class="fa-linkedin-square fa-4x"></i></a>
<i class="fa-solid fa-envelope fa-4x"></i>
{% endblock content %}